html {
  height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.container {
  width: 100vw;
  display: flex;
  /* sidenav on desktop */
  /* header section */
}
@media (max-width : 1920px) and (min-width:1200px ), only screen and (min-width:1921px ) {
  .container {
    min-width: 1700px;
  }
}
.container .sidenav {
  display: none;
}
@media (max-width : 1920px) and (min-width:1200px ), only screen and (min-width:1921px ) {
  .container .sidenav {
    display: block;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 480px;
    height: 100%;
    background-color: #000000;
  }
  .container .sidenav .input-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .container .sidenav .input-wrapper .sol-inp {
    position: relative;
    width: auto;
    height: auto;
  }
  .container .sidenav .input-wrapper .sol-inp label {
    font-family: Assistant;
    font-size: 20px;
    text-align: right;
    color: #717171;
    line-height: 0.9;
    position: absolute;
    top: 10px;
    right: 16px;
    transition: 0.3s ease all;
    pointer-events: none;
  }
  .container .sidenav .input-wrapper .sol-inp input {
    width: 332px;
    margin: 0 0 29px;
    padding: 12px 16px 9px 18px;
    border-radius: 4px;
    box-shadow: 0 3px 12px 0 rgba(23, 37, 79, 0.1);
    border: solid 1px #d5d5d5;
    background-color: #fff;
    text-align: right;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    font-family: Assistant;
  }
  .container .sidenav .input-wrapper .sol-inp input:focus + label, .container .sidenav .input-wrapper .sol-inp input:focus + :valid + label {
    font-size: 14px;
    top: 5px;
    right: 15px;
    margin: 0px 0 5px 15px;
    padding: 0 5px 0 5px;
    background-color: #fff;
    color: #717171;
    font-family: Assistant;
  }
  .container .sidenav .side-header {
    margin-top: 81px;
    margin-bottom: 56px;
    color: #fff;
    font-size: 30px;
    font-family: Assistant;
    text-align: center;
    width: 332px;
  }
  .container .sidenav .form-btn {
    width: 332px;
    height: 65px;
    margin: 0 0 13px;
    margin-top: 65px;
    border-radius: 32.5px;
    background-color: #24e7c8;
    font-family: Assistant;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: -0.58px;
    text-align: center;
    color: #000;
    cursor: pointer;
  }
}
.container .web-wrapper {
  width: 100vw;
  /* ########## --end of the header section--######## */
  /* main section */
}
.container .web-wrapper header {
  width: 100%;
  height: 410px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width : 767px) and (min-width:360px), only screen and (max-width:359px) {
  .container .web-wrapper header {
    background-image: url("../images/mobile/bnr.png");
  }
}
@media (max-width : 991px) and (min-width:768px) {
  .container .web-wrapper header {
    background-image: url("../images/tablet/bnr.png");
    align-items: flex-end;
  }
  .container .web-wrapper header .caption-banner {
    margin-top: 102px;
    margin-right: 131px;
  }
  .container .web-wrapper header .caption-banner h1 {
    font-size: 30px;
    text-align: right;
    margin-left: 18px;
    margin-bottom: 18px;
  }
  .container .web-wrapper header .caption-banner p {
    text-align: right;
    line-height: 1.33;
  }
}
@media (max-width : 991px) and (min-width:768px) and (max-width : 767px) and (min-width:360px) {
  .container .web-wrapper header .caption-banner .banner-sub {
    min-width: 280px;
  }
}
@media (max-width : 1199px) and (min-width:992px) {
  .container .web-wrapper header {
    background-image: url("../images/laptop/banner-03.png");
    height: 406px;
    align-items: flex-end;
  }
  .container .web-wrapper header .caption-banner {
    margin-top: 92px;
    margin-right: 134px;
    margin-bottom: 121px;
  }
  .container .web-wrapper header .caption-banner h1 {
    font-size: 31.5px;
    text-align: right;
    margin-left: 18px;
    margin-bottom: 30px;
    width: 364px;
  }
  .container .web-wrapper header .caption-banner p {
    text-align: right;
    line-height: 1.32;
    width: 384px;
  }
}
@media (max-width : 1920px) and (min-width:1200px ), only screen and (min-width:1921px ) {
  .container .web-wrapper header {
    background-image: url("../images/desktop/banner.png");
    background-position: 100% 25%;
    min-width: 1440px;
    height: 650px;
    align-items: flex-end;
  }
  .container .web-wrapper header .caption-banner {
    margin-top: 201px;
    margin-right: 127px;
    margin-bottom: 176px;
  }
}
@media (max-width : 1920px) and (min-width:1200px ) and (max-width : 1800px) and (min-width:1200px), only screen and (min-width:1921px ) and (max-width : 1800px) and (min-width:1200px) {
  .container .web-wrapper header .caption-banner {
    margin-right: 500px;
  }
}
@media (max-width : 1920px) and (min-width:1200px ), only screen and (min-width:1921px ) {
  .container .web-wrapper header .caption-banner h1 {
    font-size: 48px;
    text-align: right;
    width: 539px;
  }
}
@media (max-width : 1920px) and (min-width:1200px ), only screen and (min-width:1921px ) {
  .container .web-wrapper header .caption-banner p {
    text-align: right;
    line-height: 1.32;
    width: 514px;
    font-size: 22px;
    margin: 23px 0 0 25px;
  }
}
.container .web-wrapper header h1 {
  width: 320px;
  margin-top: 18px;
  margin-bottom: 9px;
  font-family: Assistant;
  font-size: 26px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  color: #000;
}
.container .web-wrapper header p {
  width: 340px;
  font-family: Assistant;
  margin-top: 0;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: #000;
}
.container .web-wrapper .contact-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  width: 100vw;
  background-color: #000000;
  height: 72px;
}
@media (max-width : 1920px) and (min-width:1200px ), only screen and (min-width:1921px ) {
  .container .web-wrapper .contact-nav {
    display: none;
  }
}
@media (max-width : 991px) and (min-width:768px) {
  .container .web-wrapper .contact-nav {
    gap: 32px;
  }
}
.container .web-wrapper .contact-nav button {
  display: flex;
  cursor: pointer;
  justify-content: center;
  gap: 14px;
  font-family: Assistant;
  font-size: 16px;
  width: 155px;
  border: none;
  padding: 9px;
  border-radius: 20px;
}
@media (max-width : 991px) and (min-width:768px) {
  .container .web-wrapper .contact-nav button {
    width: 200px;
  }
}
.container .web-wrapper .contact-nav button i {
  align-self: center;
}
.container .web-wrapper .contact-nav .btn-aqua {
  background-color: #24e7c8;
  font-weight: bold;
}
.container .web-wrapper .contact-nav .btn-black {
  background-color: #000000;
  color: #fff;
  border: solid 2px #fff;
}
@media (max-width : 1800px) and (min-width:1200px) {
  .container .web-wrapper .main-section {
    margin-right: 350px;
  }
}
.container .web-wrapper .main-section main {
  background-color: #fafafa;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width : 1920px) and (min-width:1200px ), only screen and (min-width:1921px ) {
  .container .web-wrapper .main-section main {
    height: 584px;
  }
}
.container .web-wrapper .main-section main .main-header {
  width: 328px;
  text-align: center;
  margin-bottom: 46px;
  margin-top: 60px;
  font-family: Assistant;
}
@media (max-width : 991px) and (min-width:768px) {
  .container .web-wrapper .main-section main .main-header {
    width: 732px;
    margin-top: 58px;
  }
}
@media (max-width : 1199px) and (min-width:992px) {
  .container .web-wrapper .main-section main .main-header {
    width: 926px;
    margin-top: 58px;
    margin-bottom: 74px;
  }
}
@media (max-width : 1920px) and (min-width:1200px ), only screen and (min-width:1921px ) {
  .container .web-wrapper .main-section main .main-header {
    width: 686px;
    margin-top: 58px;
    margin-bottom: 44px;
  }
}
.container .web-wrapper .main-section main .main-header .m-headline {
  font-size: 26px;
  margin-bottom: 21px;
  letter-spacing: 0.04px;
}
@media (max-width : 991px) and (min-width:768px) {
  .container .web-wrapper .main-section main .main-header .m-headline {
    margin-bottom: 19px;
  }
}
@media (max-width : 1199px) and (min-width:992px) {
  .container .web-wrapper .main-section main .main-header .m-headline {
    font-size: 32px;
    margin-bottom: 11px;
  }
}
@media (max-width : 1920px) and (min-width:1200px ), only screen and (min-width:1921px ) {
  .container .web-wrapper .main-section main .main-header .m-headline {
    font-size: 32px;
  }
}
.container .web-wrapper .main-section main .main-header p {
  color: #666666;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.02px;
  text-align: center;
}
@media (max-width : 1199px) and (min-width:992px) {
  .container .web-wrapper .main-section main .main-header p {
    font-size: 28px;
    letter-spacing: 0.03px;
    line-height: 1.36;
  }
}
@media (max-width : 1920px) and (min-width:1200px ), only screen and (min-width:1921px ) {
  .container .web-wrapper .main-section main .main-header p {
    font-size: 22px;
  }
}
@media (max-width : 767px) and (min-width:360px) {
  .container .web-wrapper .main-section main .main-header .sub-headline {
    max-width: 328px;
    margin: 0 auto;
  }
}
@media (max-width : 1920px) and (min-width:1200px ), only screen and (min-width:1921px ) {
  .container .web-wrapper .main-section main .main-header .sub-headline {
    max-width: 520px;
    margin: 0 auto;
  }
}
@media (max-width : 1920px) and (min-width:1200px ), only screen and (min-width:1921px ) {
  .container .web-wrapper .main-section main .box-wrapper {
    display: flex;
    gap: 40px;
    flex-direction: row-reverse;
    width: 686px;
  }
}
@media (max-width : 1199px) and (min-width:992px) {
  .container .web-wrapper .main-section main .box-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 54px;
    flex-direction: row-reverse;
    margin-bottom: 123px;
  }
}
@media (max-width : 1920px) and (min-width:1200px ), only screen and (min-width:1921px ) {
  .container .web-wrapper .main-section main #middle-box .box-header {
    margin-bottom: 15.5px;
    width: 160px;
  }
}
.container .web-wrapper .main-section main .boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 202px;
  /* end of main section */
}
@media (max-width : 767px) and (min-width:360px), only screen and (max-width:359px) {
  .container .web-wrapper .main-section main .boxes {
    max-width: 328px;
  }
  .container .web-wrapper .main-section main .boxes .graph2 {
    display: none;
  }
  .container .web-wrapper .main-section main .boxes .wallet2 {
    display: none;
  }
}
@media (max-width : 991px) and (min-width:768px) {
  .container .web-wrapper .main-section main .boxes {
    width: 670px;
  }
  .container .web-wrapper .main-section main .boxes .graph2 {
    display: none;
  }
  .container .web-wrapper .main-section main .boxes .wallet2 {
    display: none;
  }
}
@media (max-width : 1199px) and (min-width:992px) {
  .container .web-wrapper .main-section main .boxes .wallet {
    display: none;
  }
  .container .web-wrapper .main-section main .boxes .graph2 {
    display: block;
  }
  .container .web-wrapper .main-section main .boxes .wallet2 {
    display: block;
  }
  .container .web-wrapper .main-section main .boxes .graph {
    display: none;
  }
}
@media (max-width : 1920px) and (min-width:1200px ), only screen and (min-width:1921px ) {
  .container .web-wrapper .main-section main .boxes .wallet {
    display: none;
  }
  .container .web-wrapper .main-section main .boxes .graph2 {
    display: block;
  }
  .container .web-wrapper .main-section main .boxes .wallet2 {
    display: block;
  }
  .container .web-wrapper .main-section main .boxes .graph {
    display: none;
  }
}
.container .web-wrapper .main-section main .boxes .box-header {
  font-size: 24px;
  font-family: Assistant;
  font-weight: bold;
  margin: 15px 0 17px 0;
  width: 202px;
}
@media (max-width : 767px) and (min-width:360px) {
  .container .web-wrapper .main-section main .boxes .box-header {
    max-width: 267px;
    width: 278px;
  }
}
@media (max-width : 991px) and (min-width:768px) {
  .container .web-wrapper .main-section main .boxes .box-header {
    margin: 15px 0 9px 0;
    width: 415px;
  }
}
@media (max-width : 1920px) and (min-width:1200px ), only screen and (min-width:1921px ) {
  .container .web-wrapper .main-section main .boxes .box-header {
    font-size: 22px;
  }
}
.container .web-wrapper .main-section main .boxes .sub-box-header {
  font-family: Assistant;
  font-weight: normal;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 60px;
  color: #717171;
}
@media (max-width : 1920px) and (min-width:1200px ), only screen and (min-width:1921px ) {
  .container .web-wrapper .main-section main .boxes .sub-box-header {
    width: 202px;
  }
}
@media (max-width : 991px) and (min-width:768px) {
  .container .web-wrapper .main-section main .boxes .sub-box-header {
    margin-bottom: 58px;
  }
}
@media (max-width : 767px) and (min-width:360px), only screen and (max-width:359px) {
  .container .web-wrapper .main-section main .boxes .sub-box-header {
    width: 318px;
  }
}
.container .web-wrapper .main-section main .boxes img {
  max-width: 75px;
  max-height: 52px;
}/*# sourceMappingURL=styles.css.map */