$grey: #717171;
$black: #000000;
$web-font: Assistant;
$bgc: #fafafa;
$aqua: #24e7c8;
$media-desktop: ' (max-width : 1920px) and (min-width:1200px )';
$media-laptop: ' (max-width : 1199px) and (min-width:992px)';
$media-tablet: '(max-width : 991px) and (min-width:768px)';
$media-mobile: '(max-width : 767px) and (min-width:360px)';
// css reset
html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;

  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

// web design

.container {
  width: 100vw;
  display: flex;

  .sidenav {
    display: none;
    @media #{$media-desktop} {
      display: block;
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 480px;
      height: 100%;
      background-color: $black;
      .input-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        input {
          width: 332px;
          margin: 0 0 29px;
          padding: 7px 16px 9px 18px;
          border-radius: 4px;
          box-shadow: 0 3px 12px 0 rgba(23, 37, 79, 0.1);
          border: solid 1px #d5d5d5;
          background-color: #fff;
          text-align: right;
          font-family: Assistant;
          :focus {
            border: none;
          }
        }
      }
      .side-header {
        margin-top: 81px;
        margin-bottom: 56px;
        color: #fff;
        font-size: 30px;
        font-family: $web-font;
        text-align: center;
        width: 332px;
      }
      .form-btn {
        width: 332px;
        height: 65px;
        margin: 0 0 13px;
        margin-top: 65px;
        border-radius: 32.5px;
        background-color: $aqua;
        font-family: Assistant;
        font-size: 24px;
        font-weight: bold;
        letter-spacing: -0.58px;
        text-align: center;
        color: #000;
        cursor: pointer;
      }
    }
  }

  .web-wrapper {
    width: 100vw;
    header {
      width: 100%;
      height: 410px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      @media #{$media-mobile} {
        background-image: url('../images/mobile/bnr.png');
      }

      @media #{$media-tablet} {
        background-image: url('../images/tablet/bnr.png');
        align-items: flex-end;
        .caption-banner {
          margin-top: 102px;
          margin-right: 131px;

          h1 {
            font-size: 30px;
            text-align: right;
            margin-left: 18px;
            margin-bottom: 18px;
          }
          p {
            text-align: right;
            line-height: 1.33;
          }
        }
      }
      @media #{$media-laptop} {
        background-image: url('../images/laptop/banner-03.png');

        height: 406px;
        align-items: flex-end;
        .caption-banner {
          margin-top: 92px;
          margin-right: 134px;
          margin-bottom: 121px;

          h1 {
            font-size: 31.5px;
            text-align: right;
            margin-left: 18px;
            margin-bottom: 30px;
            width: 364px;
          }
          p {
            text-align: right;
            line-height: 1.32;
            width: 384px;
          }
        }
      }
      @media #{$media-desktop} {
        background-image: url('../images/desktop/banner.png');
        background-position: 100% 25%;
        height: 650px;
        align-items: flex-end;
        .caption-banner {
          margin-top: 201px;
          margin-right: 127px;
          margin-bottom: 176px;

          h1 {
            font-size: 48px;
            text-align: right;
            width: 539px;
          }
          p {
            text-align: right;
            line-height: 1.32;
            width: 514px;
            font-size: 22px;
            margin: 23px 0 0 25px;
          }
        }
      }

      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      h1 {
        width: 320px;
        margin-top: 18px;
        margin-bottom: 9px;
        font-family: $web-font;
        font-size: 26px;
        font-weight: bold;
        line-height: 1;
        text-align: center;
        color: #000;
      }

      p {
        width: 340px;
        font-family: Assistant;
        margin-top: 0;
        font-size: 18px;
        line-height: 1.22;
        text-align: center;
        color: #000;
      }
    }
    .contact-nav {
      @media #{$media-desktop} {
        display: none;
      }
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 18px;
      width: 100vw;
      background-color: $black;
      height: 72px;
      @media #{$media-tablet} {
        gap: 32px;
      }
      button {
        display: flex;
        cursor: pointer;
        justify-content: center;
        gap: 14px;
        font-family: $web-font;
        font-size: 16px;
        width: 155px;
        border: none;
        padding: 9px;
        border-radius: 20px;
        @media #{$media-tablet} {
          width: 200px;
        }
        i {
          align-self: center;
        }
      }
      .btn-aqua {
        background-color: $aqua;
        font-weight: bold;
      }
      .btn-black {
        background-color: $black;
        color: #fff;
        border: solid 2px #fff;
      }
    }

    main {
      background-color: $bgc;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @media #{$media-desktop} {
        width: 1440px;
        height: 584px;
      }
    }
    .main-header {
      width: 328px;
      text-align: center;
      margin-bottom: 46px;
      margin-top: 60px;
      font-family: $web-font;
      @media #{$media-tablet} {
        width: 732px;
        margin-top: 58px;
      }
      @media #{$media-laptop} {
        width: 926px;
        margin-top: 58px;
        margin-bottom: 74px;
      }
      @media #{$media-desktop} {
        width: 686px;
        margin-top: 58px;
        margin-bottom: 44px;
      }
      .m-headline {
        font-size: 26px;
        margin-bottom: 21px;
        @media #{$media-tablet} {
          margin-bottom: 19px;
        }
        @media #{$media-laptop} {
          font-size: 32px;
          margin-bottom: 11px;
        }
        @media #{$media-desktop} {
          font-size: 32px;
        }
      }
      p {
        color: #666666;
        font-size: 18px;
        line-height: 1.33;
        letter-spacing: 0.02px;
        text-align: center;
        @media #{$media-laptop} {
          font-size: 28px;
          letter-spacing: 0.03px;
          line-height: 1.36;
        }
        @media #{$media-desktop} {
          font-size: 22px;
        }
      }
    }
    .box-wrapper {
      @media #{$media-desktop} {
        display: flex;
        justify-content: space-between;
        gap: 54px;
        flex-direction: row-reverse;
      }
      @media #{$media-laptop} {
        display: flex;
        justify-content: space-between;
        gap: 54px;
        flex-direction: row-reverse;
        margin-bottom: 123px;
      }
      @media #{$media-desktop} {
        width: 686px;
      }
    }
    @media #{$media-desktop} {
    }
    .boxes {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      @media #{$media-tablet} {
        width: 690px;
      }
      @media #{$media-laptop} {
        max-width: 280px;
      }
      .box-header {
        font-size: 24px;
        font-family: $web-font;
        font-weight: bold;
        margin: 15px 0 17px 0;
        @media #{$media-tablet} {
          margin: 15px 0 9px 0;
        }
        @media #{$media-desktop} {
          font-size: 22px;
        }
      }
      p {
        font-family: $web-font;
        font-weight: normal;
        font-size: 18px;
        margin-top: 0;
        margin-bottom: 60px;
        color: #666666;
        @media #{$media-tablet} {
          margin-bottom: 58px;
        }
      }

      img {
        max-width: 75px;
        max-height: 52px;
      }
    }
  }
}
